// COLORS
$color-primary      : #2d2291;
$color-primary-dark : rgb(4, 73, 163);

$button-shadow: rgba(49, 55, 77, 0.07);

// FONT
$default-font: "Butler_Regular",
sans-serif;
$default-font-light: "Butler_Light",
sans-serif;
$default-font-bold: "Butler_Bold",